{% extends "options-base.html" %}

{% block optionsList %}

<a href="options/server" class="options-link">
	<li class="options-li">
		<div class="li-container">
			<h4 class="li-headline">
				{{ lang['options_server_label'] }}
			</h4>
			<p class="li-caption">
				{{ lang['options_base_server_description'] }}
			</p>
		</div>
		
	</li>
</a>

<a href="options/photos" class="options-link">
	<li class="options-li">
		<div class="li-container">
			<h4 class="li-headline">
				{{ lang['options_photos_label'] }}
			</h4>
			<p class="li-caption">
				{{ lang['options_base_photos_description'] }}
			</p>
		</div>
	</li>
</a>

<a href="options/other" class="options-link">
	<li class="options-li">
		<div class="li-container">
			<h4 class="li-headline">
				{{ lang['options_misc_label'] }}
			</h4>
			<p class="li-caption">
				{{ lang['options_base_misc_description'] }}
			</p>
		</div>
	</li>
</a>

{% endblock %}

