{% extends "options-base.html" %}

{% block optionsSectionName %}
	/ Фотографии
{% endblock %}

{% block optionsList %}
	
<a href="" onclick="setPhotosFolder()" class="options-link">
	<li class="options-li">
		<div class="li-container">
			<h4 class="li-headline">
				Путь к папке с фотографиями
			</h4>
			<p class="li-caption">
				<span class="important">{{ photos_folder }}</span>
			</p>
		</div>
		
	</li>
</a>

<a href="" onclick="setDatabaseIndexTimeout()" class="options-link">
	<li class="options-li">
		<div class="li-container">
			<h4 class="li-headline">
				Таймаут проверки базы данных
			</h4>
			<p class="li-caption">
				Время между полными проверками: <span class="important">{{ index_database_timeout if index_database_timeout else '-'}} секунд</span>. <span class="important">Осторожно, чем больше фото, тем дольше!</span>
			</p>
		</div>
	</li>
</a>

<a href="" onclick="setUploadFolderIndexTimeout()" class="options-link">
	<li class="options-li">
		<div class="li-container">
			<h4 class="li-headline">
				Таймаут проверки папки с фотографиями
			</h4>
			<p class="li-caption">
				Время между поиском новых фото в папке: <span class="important">{{ index_upload_folder_timeout if index_upload_folder_timeout else '-'}} секунд</span>. Занимает 1-10 секунд в зависимости от количества фото
			</p>
		</div>	
	</li>
</a>

<a href="" onclick="indexDatabaseAndUploadFolder()" class="options-link">
	<li class="options-li">
		<div class="li-container">
			<h4 class="li-headline">
				Проиндексировать вручную
			</h4>
			<p class="li-caption">
				Запустить проверку базы и папки с фото вручную
			</p>
		</div>	
	</li>
</a>



{% endblock %}