{% extends "options-base.html" %}

{% block optionsSectionName %}
	/ {{ lang['options_server_label'] }}
{% endblock %}

{% block optionsList %}
	
<a href="" onclick="setIP()" class="options-link">
	<li class="options-li">
		<div class="li-container">
			<h4 class="li-headline">
				{{ lang['options_server_host_headline'] }}
			</h4>
			<p class="li-caption">
				{{ lang['options_server_host_description'] }} <span class="important">{{ server_address }}</span>
			</p>
		</div>
		
	</li>
</a>

<a href="" onclick="setPort()" class="options-link">
	<li class="options-li">
		<div class="li-container">
			<h4 class="li-headline">
				{{ lang['options_server_port_headline'] }}
			</h4>
			<p class="li-caption">
				{{ lang['options_server_port_description'] }} <span class="important">{{ server_port }}</span>
			</p>
		</div>
		
	</li>
</a>

<a href="" onclick="toggleDebug()" class="options-link">
	<li class="options-li">
		<div class="li-container">
			<h4 class="li-headline">
				{{ lang['options_server_debug_headline'] }}
			</h4>
			<p class="li-caption">
				{{ lang['options_server_debug_description'] }} <span class="important">{{ lang['options_enabled'] if server_debug else lang['options_disabled'] }}</span>
			</p>
		</div>
		
	</li>
</a>

{% endblock %}