{% extends "options-base.html" %}

{% block optionsSectionName %}
	/ {{ lang['options_photos_label'] }}
{% endblock %}

{% block optionsList %}
	
<a href="" onclick="setPhotosFolder()" class="options-link">
	<li class="options-li">
		<div class="li-container">
			<h4 class="li-headline">
				{{ lang['options_photos_path_headline'] }}
			</h4>
			<p class="li-caption">
				{{ lang['options_photos_path_description'] }}<span class="important">{{ photos_folder }}</span>
			</p>
		</div>
		
	</li>
</a>

<a href="" onclick="setDatabaseIndexTimeout()" class="options-link">
	<li class="options-li">
		<div class="li-container">
			<h4 class="li-headline">
				{{ lang['options_photos_database_check_timeout_headline'] }}
			</h4>
			<p class="li-caption">
				{{ lang['options_photos_database_check_timeout_description'] }} <span class="important">{{ index_database_timeout if index_database_timeout else '-'}} {{ lang['options_seconds'] }}</span>. <span class="important">{{ lang['options_photos_database_check_timeout_description_warning'] }}</span>
			</p>
		</div>
	</li>
</a>

<a href="" onclick="setUploadFolderIndexTimeout()" class="options-link">
	<li class="options-li">
		<div class="li-container">
			<h4 class="li-headline">
				{{ lang['options_photos_folder_check_timeout_headline'] }}
			</h4>
			<p class="li-caption">
				{{ lang['options_photos_folder_check_timeout_description'] }} <span class="important">{{ index_upload_folder_timeout if index_upload_folder_timeout else '-'}} {{ lang['options_seconds'] }}</span>. {{ lang['options_photos_folder_check_timeout_description_warning'] }}
			</p>
		</div>	
	</li>
</a>

<a href="" onclick="indexDatabaseAndUploadFolder()" class="options-link">
	<li class="options-li">
		<div class="li-container">
			<h4 class="li-headline">
				{{ lang['options_photos_manual_indexing_headline'] }}
			</h4>
			<p class="li-caption">
				{{ lang['options_photos_manual_indexing_description'] }}
			</p>
		</div>	
	</li>
</a>



{% endblock %}