<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block generalTitle %}{% endblock %} - {{ lang['project_title_localized'] }}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <header class="main-header">
        <a href="/"><h1 class="headline">PhotoBank</h1></a>
        <nav>
            <span class="search-button" onclick="toggleSearchPanel()">&#8981;</span><span class="menu-button" onclick="toggleMenu()">&#9776;</span>
        </nav>
    </header>
    <div class="search-panel">
        <div class="container">
            <form action="/search" method="post">
                <input name="search" type="search" placeholder="{{ lang['search_input_placeholder'] }}" value="{{ date if date else '' }}" autocomplete="no" required>
                <button type="submit">></button>
            </form>
        </div>
    </div>
    <div class="menu-panel">
        <div class="container">
            <ul class="menu">
                <a href="/new">
                <li class="menu-li">
                    {{ lang['menu_button_upload'] }}
                </li>
                </a>
                <a href="/options">
                <li class="menu-li">
                    {{ lang['menu_button_options'] }}
                </li>
                </a>
            </ul>
        </div>
    </div>

    {% block content %}
    {% endblock %}

    {% if serverMessage %}
    <div class="popup-container">
        <div class="popup">
            <h2 class="popup-headline">
                {{ serverMessage['headline'] }}
            </h2>

            <p class="popup-paragraph">
                {{ serverMessage['paragraph'] }}
            </p>
            <div class="popup-buttons-container">
                {% if serverMessage['href'] %}
                    <button class="popup-button ok" onclick="location.href = '{{ serverMessage['href'] }}'">
                        {{ lang['popup_button_ok'] }}
                    </button>
                {% endif %}
                
                <button class="popup-button cancel" onclick="hidePopup()">
                    {{ lang['popup_button_cancel'] }}
                </button>
            </div>
        </div>
    </div>
    {% endif %}
 
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script>
        function setIP() {
            ip = prompt('{{ lang['js_new_ip'] }}', document.querySelectorAll('span.important')[0].innerHTML);
            if (ip) {
                applyOption('ip', ip);
            }
        }

        function setPort() {
            port = prompt('{{ lang['js_new_port'] }}', document.querySelectorAll('span.important')[1].innerHTML)
            if (port) {
                applyOption('port', port)
            }
        }

        function setPhotosFolder() {
            path = prompt('{{ lang['js_new_folder_path'] }}', document.querySelectorAll('span.important')[0].innerHTML)
            if (path) {
                applyOption('photos_folder', path)

            }
        }

        function setLanguage() {
            lang = prompt('{{ lang['js_new_language'] }}', document.querySelectorAll('span.important')[0].innerHTML)
            if (lang) {
                applyOption('language', lang)
            }
        }

        function setDatabaseIndexTimeout() {
            timeout = prompt('{{ lang['js_new_timeout'] }}');
            if (timeout) {
                applyOption('index_database_timeout', timeout)
            }
        }

        function setUploadFolderIndexTimeout() {
            timeout = prompt('{{ lang['js_new_timeout'] }}');
            if (timeout) {
                applyOption('index_upload_folder_timeout', timeout)
            }
        }

    </script>
</body>
</html>