<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block generalTitle %}{% endblock %} - ФотоБанк</title>
<!--    <link rel="stylesheet" href="css/styles.css">-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap" rel="stylesheet">
</head>
<body>
    <header class="main-header">
        <a href="/"><h1 class="headline">PhotoBank</h1></a>
        <nav>
            <span class="search-button" onclick="toggleSearchPanel()">&#8981;</span><span class="menu-button" onclick="toggleMenu()">&#9776;</span>
            <!-- <svg> -->
            <!-- <use xlink:href="{{ url_for('static', filename='svg/menu.svg') }}"></use> -->
            <!-- </svg> -->
        </nav>
    </header>
    <div class="search-panel">
        <div class="container">
            <form action="/search" method="post">
                <input name="search" type="search" placeholder="Искать фото.." value="{{ date if date else '' }}" autocomplete="no" required>
                <button type="submit">></button>
            </form>
        </div>
    </div>
    <div class="menu-panel">
        <div class="container">
            <ul class="menu">
                <a href="/new">
                <li class="menu-li">
                    Загрузить фото
                </li>
                </a>
                <a href="/options">
                <li class="menu-li">
                    Настройки
                </li>
                </a>
            </ul>
        </div>
    </div>

    {% block content %}
    {% endblock %}

    {% if serverMessage %}
    <div class="popup-container">
        <div class="popup">
            <h2 class="popup-headline">
                {{ serverMessage['headline'] }}
            </h2>

            <p class="popup-paragraph">
                {{ serverMessage['paragraph'] }}
            </p>
            <div class="popup-buttons-container">
                {% if serverMessage['href'] %}
                    <button class="popup-button ok" onclick="location.href = '{{ serverMessage['href'] }}'">
                        Перейти
                    </button>
                {% endif %}
                
                <button class="popup-button cancel" onclick="hidePopup()">
                    Отложить
                </button>
            </div>
        </div>
    </div>
    {% endif %}
 
    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>